<div class="dropdown">
    <button class="dropdown-btn"><i class="fa-solid fa-filter"></i>Filter kunstwerken</button>
    <div class="dropdown-content">
        <div class="filter-option">
            <input type="checkbox" id="dropdown-date" name="dropdown-date" checked />
            <label for="dropdown-date">Datum</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" id="dropdown-location" name="dropdown-location" checked />
            <label for="dropdown-location">Locatie</label>
        </div>
        <div class="filter-option">
            <input type="checkbox" id="dropdown-material" name="dropdown-material" checked />
            <label for="dropdown-material   ">Materiaal</label>
        </div>
    </div>
</div>
