<section class="route-detail-window">
  <nav>
    <a href=""><i class="fa-solid fa-arrow-right"></i></a>
    <a href=""><i class="fa-solid fa-arrow-right"></i></a>
  </nav>
  <section>
    <img src="/images/park.png" alt="park" />
    <h2>Het stijgerende paard</h2>
    <p>Gemaakt door fotograaf Ad van de Velde.</p>
    <div>
      <a href="#">Lees meer ></a>
      <a href="#">Route</a>
    </div>
  </section>
</section>
