<section class="event_container fixed-width">
  <section class="event_header">
    <h1>Agenda</h1>
    <a href="#" class="view-all">Bekijk alles</a>
  </section>
  <section class="events">
    <article class="event">
      <div>
        <h2>KUNSTEVENT 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
        <a href="#" class="arrow-link" aria-label="Meer informatie over KUNSTEVENT 1"><i class="fa-solid fa-arrow-right"></i></a>
    </article>
    <article class="event">
      <div>
        <h2>KUNSTEVENT 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
        <a href="#" class="arrow-link" aria-label="Meer informatie over KUNSTEVENT 1"><i class="fa-solid fa-arrow-right"></i></a>
    </article>  <article class="event">
      <div>
        <h2>KUNSTEVENT 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
        <a href="#" class="arrow-link" aria-label="Meer informatie over KUNSTEVENT 1"><i class="fa-solid fa-arrow-right"></i></a>
    </article>  <article class="event">
      <div>
        <h2>KUNSTEVENT 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
        <a href="#" class="arrow-link" aria-label="Meer informatie over KUNSTEVENT 1"><i class="fa-solid fa-arrow-right"></i></a>
    </article>
  </section>
  </section>