<section class="annual-statement fixed-width">
  <section class="annual-info">
    <h2>Jaaropgaves</h2>
    <p>In de jaaropgaves van kunst in C, selecter je een jaar om de bijbehorende informatie en opgaves
      te bekijken. Ontdek wat elk jaar te bieden heeft en laat je inspireren door de creatieve projecten.</p>
    <select name="choose-year" id="select-annual-year">
      <option value="all">Selecteer een jaar</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
      <option value="2021">2021</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
    </select>
  </section>
  <section class="annual-data">
    <section class="annual-item">
        <div class="annual-text-container">
          <h4>Jaaropgave 2023</h4>
          <a href="#">Download</a>
        </div>
    </section>
    <section class="annual-item">
        <div class="annual-text-container">
          <h4>Jaaropgave 2022</h4>
          <a href="#">Download</a>
        </div>
    </section>
    <section class="annual-item">
        <div class="annual-text-container">
          <h4>Jaaropgave 2021</h4>
          <a href="#">Download</a>
        </div>
    </section>
    <section class="annual-item">
        <div class="annual-text-container">
          <h4>Jaaropgave 2020</h4>
          <a href="#">Download</a>
        </div>
    </section>
    <section class="annual-item">
        <div class="annual-text-container">
          <h4>Jaaropgave 2019</h4>
          <a href="#">Download</a>
        </div>
    </section>
  </section>
</section>