<main>
  <section class="pageheader-anbi margin-top-150 fixed-width">
    <section>
  <h1>ANBI & Financieel</h1>
  <p>Welkom op de ANBI-pagina van de kunstinstelling "Kunst in C". Wij zijn een dynamische en inspirerende organisatie
    die zich toelegt op het bevorderen en ondersteunen van kunst en cultuur in al haar vormen. Als erkende Algemeen Nut
    Beogende Instelling (ANBI) zetten wij ons in om kunst toegankelijk te maken voor iedereen en dragen wij bij aan de
    culturele ontwikkeling van onze gemeenschap.
  </p>
</section>

  <%- include('../components/archive-table.ejs') %> 
</section>

</main>