<section class="content_wrapper">
  <section class="content">
    <section class="art-details">
      <section class="detail-group">
        <p>Naam</p>
        <p>Kunst in C</p>
      </section>
      <section class="detail-group">
        <p>ANBI nummer(RSIN)</p>
        <p>000000000</p>
      </section>
      <h4>Contact gegevens</h4>
      <section class="detail-group">
        <p>Adres</p>
        <p>Kunstinclaan 31</p>
      </section>
      <section class="detail-group">
        <p>Telefoonnummer</p>
        <p>31 6 0000 000</p>
      </section>
    </section>
  </section>
</section>