<section class="section-cards fixed-width">
    <div class="title">
        <h2>Anders helpen</h2>
        <p>Wil jij meer kunnen bijdragen aan de toekomst van stichting <strong>Kunst in C?</strong>
        Hieronder zijn andere mogelijkheden om onze missie te steunen</p>
    </div>
    <div class="cards-wrapper">
        <div class="card">
            <div class="image-wrapper">
                <img src="/images/kunst.png" class="card-image" alt="">
            </div>
            <div class="content">
                <div class="card-text">
                    <h3>Social media</h3>
                    <p></p>
                </div>
                <div class="card-footer">
                    <div class="button-wrapper">
                        <a href="#" class="social-link"><i class="fa-brands fa-facebook-f fa-2x"></i></a>
                        <a href="#" class="social-link"><i class="fa-brands fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <img src="/images/kunst.png" class="card-image" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <h3>Help met locatie</h3>
                    <p></p>
                </div>
                <div class="card-footer">
                    <button class="btn">Doneren</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <img src="/images/kunst.png" class="card-image" alt="">
            </div>
            <div class="content">
                <div class="text">
                    <h3>Creeer kunst</h3>
                    <p></p>
                </div>
                <div class="card-footer">
                    <button class="btn">Creeeren</button>
                </div>
            </div>
        </div>
    </div>
</section>