<section class="section-cards fixed-width">
    <div class="title">
        <h2>Cards component</h2>
    </div>
    <div class="cards-wrapper">
        <div class="card">
            <div class="image-wrapper">
                <h4>test</h4>
                <img src="" alt="">
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <h4>test</h4>
                <img src="" alt="">
            </div>
        </div>
        <div class="card">
            <div class="image-wrapper">
                <h4>test</h4>
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>