<section id="section_to-pin" class="section section_to-pin scroll-section">
    <div id="section_pin" class="section_pin">
        <div class="content_wrapper">
            <div class="content">
                <h2>De Onthulling</h2>
                <p>
                    De onthulling van dit kunstwerk werd vastgelegd door
                    fotograaf Ad van de Velde en het beeld maakt deel uit van de
                    collectie van het Nieuwsblad voor Castricum. Het kunstwerk
                    benadrukt de kracht en de gratie van het paard in een
                    stilistische en contemplatieve vorm.
                </p>
                <div class="art-details">
                    <div class="detail-group">
                        <p>Adres:</p>
                        <p>Raadhuisplein 1, Castricum</p>
                    </div>
                    <div class="detail-group">
                        <p>Fotograaf:</p>
                        <p>Ad van de Velde</p>
                    </div>
                    <div class="detail-group">
                        <p>Rubriek:</p>
                        <p>Kunst en cultuur</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="image_wrapper_1" class="image_wrapper image_wrapper_1">
            <img class="image" src="/images/kunst.png" alt="Lil' Image"/>
        </div>
        <div id="image_wrapper_2" class="image_wrapper image_wrapper_2">
            <img class="image" src="/images/kunst.png" alt="Lil' Image"/>
        </div>
        <div id="image_wrapper_3" class="image_wrapper image_wrapper_3">
            <img class="image" src="/images/kunst.png" alt="Lil' Image"/>
        </div>
    </div>
</section>
