<footer>
  <section class="parent">
    <section class="colofonFooter">
      <h4>Praktische links</h4>
      <ul>
        <li><a href="">Home<i class="fa-solid fa-arrow-right"></i></a></li>
        <li><a href="">Kunstwerken <i class="fa-solid fa-arrow-right"></i></a></li>
        <li><a href="">Ontdekken <i class="fa-solid fa-arrow-right"></i></a></li>
        <li><a href="">Over ons <i class="fa-solid fa-arrow-right"></i></a></li>
        <li><a href="">Help ons <i class="fa-solid fa-arrow-right"></i></a></li>
      </ul>
      <h5>Contact</h5>
      <div class="colofon-contact">
        <a href=""><i class="fa-regular fa-envelope"></i></a>
        <p>info@mail.com</p>
        <a href=""><i class="fa-solid fa-phone"></i></a>
        <p>+31 6 12 34 56 78</p>
      </div>
      <h5>Socials</h5>
      <div class="colofon-social-media">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <img src="/images/KIC_logo_zw.svg" alt="Kunst in C logo zwart-wit">
    </section>
    <section class="imgFooter">
    </section>
  </section>
  <div class="sub-footer">
    <h6>© Copyright Kunst in C | 2024 | Alle rechten voorbehouden</h6>
    <ul>
      <li><a href="#">Cookies</a></li>
      <li><a href="#">Privacyverklaring</a></li>
      <li><a href="/ANBI">ANBI</a></li>
    </ul>
  </div>
</footer>

<script src="/js/mouse.js"></script>
<script src="/js/index.js"></script>
</body>
</html>