<section class="section-pageheader normal">
  <div class="pageheader-gradient">
    <div class="content-wrapper fixed-width">
      <div class="col-left">
        <div class="content">
          <div class="title">
            <h1>Steun onze stichting</h1>
          </div>
          <div class="text">
            <p>
              Help jij ons mee om onze missie met maximale ambitie - en op onze
              toegankelijke en publieksgerichte manier - te blijven doen? Wil je
              bijdragen aan de missie van Kunst in C en ervoor zorgen dat we
              hoogwaardige kunst en cultuur laagdrempelig kunnen aanbieden voor
              een breed publiek? Je kunt je donatie overmaken naar:
            </p>
            <ul>
                <li>Stichting Kunst in C</li>
                <li>o.v.v. donatie Kunst in C</li>
                <li>IBAN: NL05 INGB 0680 4648 24</li>
                <li>Fiscaal nummer: 8005 43 026</li>
            </ul>
            <p>OF DONEER VIA ONDERSTAANDE BUTTON</p>
          </div>
        <a href="">Doneren <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-right gallery">

      </div>
    </div>
  </div>
</section>
