<section class="section-pageheader">
    <div class="pageheader-gradient">
        <div class="content-wrapper fixed-width">
            <div class="col-left">
                <img src="/images/kaart.png" class="map-image" alt="">
            </div>
            <div class="col-right">
                <div class="content">
                    <div class="title">
                        <p>Stichting</p>
                        <h1>KUNST IN C</h1>
                    </div>
                    <div class="text">
                        Oud-Castricum wilt het cultureel-historisch erfgoed van Castricum en Bakkum behouden. 
                        De stichting bestaat sinds 1967 en heeft zo’n 40 vrijwilligers.
                    </div>
                    <div class="button-wrapper">
                        <button class="btn">Bekijk Castricum</button>
                        <button class="btn btn-outline">Bekijk eventsagenda</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>