<section class="detail-parent">
  <section class="kunst-info">
    <h1 style="--delay:0.04s">Ingekeerd Paard</h1>
    <a class="kunstenaar" style="--delay:0.10s" href="#">Arthur Spronken</a>
    <p style="--delay:0.12s">Het bronzen beeld ‘Ingekeerd paard’, onthuld in 1987 op het Raadhuisplein in Castricum, is gemaakt door
      de
      kunstenaar Arthur Spronken. Het beeld toont een paard in een introspectieve houding en is een
      indrukwekkend
      voorbeeld van moderne beeldhouwkunst.</p>
    <ul style="--delay:0.15s">
      <li><a href="">1987</a></li>
      <li><a href="">Castricum</a></li>
      <li><a href="">Beeldhoudwerk</a></li>
    </ul>
  </section>
  <section class="kunst-afbeelding akersloot">
    <!-- <img src="/images/IMG_1350-min.jpg" alt=""> -->
    <div class="effect"></div>
    <a href="#">Bekijk op kaart</a>
  </section>
</section>