<section class="section-route-animatie">
    <svg id="Layer_1" viewBox="0 0 1443.49 400">
        <path class="cls-1 dash-animation" id="fietspad"
            d="M2.08,208.66c224.53,136.68,455.88,337.26,628.63,10.53C723.99,42.76,920.12,4,983.16,4c97.32,9.44,285.39,0,388.25,244.51,38.42,83.14-1.42,12.61,68.67,127.16" />
    </svg>
    <svg id="Layer_1" viewBox="0 0 1443.49 400">
        <path class="cls-1-white dash-animation2" id="line2"
            d="M2.08,208.66c224.53,136.68,455.88,337.26,628.63,10.53C723.99,42.76,920.12,4,983.16,4c97.32,9.44,285.39,0,388.25,244.51,38.42,83.14-1.42,12.61,68.67,127.16" />
    </svg>

    <svg id="Layer_1" viewBox="0 0 1527.86 354.54">
        <path class="cls-2 dash-animation"
            d="M3.04,351.94c62.57-73.22,217.94-207.56,338.88-159.21,120.94,48.36,276.21-18.21,338.73-57.53,104.33-71.88,357.12-191.54,533.69-95.22,176.56,96.32,303.17,72.38,309.82,56.26" />
    </svg>

    <svg id="Layer_1" viewBox="0 0 1527.86 354.54">
        <path class="cls-2-white dash-animation2"
            d="M3.04,351.94c62.57-73.22,217.94-207.56,338.88-159.21,120.94,48.36,276.21-18.21,338.73-57.53,104.33-71.88,357.12-191.54,533.69-95.22,176.56,96.32,303.17,72.38,309.82,56.26" />
    </svg>

    <svg width="57" height="77" viewBox="0 0 57 77" fill="none" class="appear gps-icon-1 gps-icon">
        <path
            d="M31.9014 73.8267C30.1436 76.0239 26.7744 76.0239 25.0166 73.8267C17.5459 64.3052 0.407227 41.6001 0.407227 28.7095C0.407227 13.1821 13.0049 0.584473 28.5322 0.584473C44.0596 0.584473 56.6572 13.1821 56.6572 28.7095C56.6572 41.6001 39.5186 64.3052 31.9014 73.8267ZM28.5322 19.3345C25.1631 19.3345 22.0869 21.2388 20.3291 24.022C18.7178 26.9517 18.7178 30.6138 20.3291 33.397C22.0869 36.3267 25.1631 38.0845 28.5322 38.0845C31.7549 38.0845 34.8311 36.3267 36.5889 33.397C38.2002 30.6138 38.2002 26.9517 36.5889 24.022C34.8311 21.2388 31.7549 19.3345 28.5322 19.3345Z"
            fill="#DC2531" />
    </svg>

    <svg width="57" height="77" viewBox="0 0 57 77" fill="none" class="appear gps-icon-2 gps-icon">
        <path
            d="M31.9014 73.8267C30.1436 76.0239 26.7744 76.0239 25.0166 73.8267C17.5459 64.3052 0.407227 41.6001 0.407227 28.7095C0.407227 13.1821 13.0049 0.584473 28.5322 0.584473C44.0596 0.584473 56.6572 13.1821 56.6572 28.7095C56.6572 41.6001 39.5186 64.3052 31.9014 73.8267ZM28.5322 19.3345C25.1631 19.3345 22.0869 21.2388 20.3291 24.022C18.7178 26.9517 18.7178 30.6138 20.3291 33.397C22.0869 36.3267 25.1631 38.0845 28.5322 38.0845C31.7549 38.0845 34.8311 36.3267 36.5889 33.397C38.2002 30.6138 38.2002 26.9517 36.5889 24.022C34.8311 21.2388 31.7549 19.3345 28.5322 19.3345Z"
            fill="#DC2531" />
    </svg>

    <svg width="57" height="77" viewBox="0 0 57 77" fill="none" class="appear gps-icon-3 gps-icon">
        <path
            d="M31.9014 73.8267C30.1436 76.0239 26.7744 76.0239 25.0166 73.8267C17.5459 64.3052 0.407227 41.6001 0.407227 28.7095C0.407227 13.1821 13.0049 0.584473 28.5322 0.584473C44.0596 0.584473 56.6572 13.1821 56.6572 28.7095C56.6572 41.6001 39.5186 64.3052 31.9014 73.8267ZM28.5322 19.3345C25.1631 19.3345 22.0869 21.2388 20.3291 24.022C18.7178 26.9517 18.7178 30.6138 20.3291 33.397C22.0869 36.3267 25.1631 38.0845 28.5322 38.0845C31.7549 38.0845 34.8311 36.3267 36.5889 33.397C38.2002 30.6138 38.2002 26.9517 36.5889 24.022C34.8311 21.2388 31.7549 19.3345 28.5322 19.3345Z"
            fill="#DC2531" />
    </svg>


    <i class="fa-solid fa-bicycle appear wiggle" id="bike-icon"></i>

    <i class="fa-solid fa-person-walking appear wiggle" id="walk-icon"></i>


    <div class="content">
        <div class="title">
            <h2>ONTDEK DE BUITENKUNSTWERKEN</h2>
        </div>
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </p>
        </div>
        <div class="button-wrapper">
            <button class="btn">Bekijk de routes</button>
        </div>
    </div>

</section>