<section class="section-uitgelicht section-spacing-lg">
    <div class="content-wrapper fixed-width">
        <figure>
            <img src="/images/kunst.png" alt="">
            <div class="image-text">
                <h3>Eventnaam</h3>
                <p>Beschrijving</p>
                <div class="button-holder">
                    <button class="btn">Lees meer</button>
                </div>
            </div>
        </figure>
        <figure>
            <img src="/images/kunst2.jpg" alt="">
        </figure>
        <figure>
            <img src="/images/kunst4.jpg" alt="">
        </figure>
    </div>
</section>