<section class="virtual_container mouse-element">
  <img src="/images/floating-1.webp" alt="Meteoor-Sculptuur">
  <img src="/images/floating-2.webp" alt="Plastiek zonder naam">
  <h2>VIRTUAL REALITY</h2>
  <p>Binnenkort kun je vanaf je scherm
    viruteel de kunst werken bekijken.</p>
<a href="#">Lees meer <i class="fa-solid fa-arrow-right"></i></a>
<img class="achtergrond_polygon" src="/images/abstract-polygon-background-vector-Graphics-9722889-1.jpg" alt="Polygoon-achtergrond">
</section>