:root {
    --font-family: "Open Sans", sans-serif;
    --black-font-color: #000000;
    --white-font-color: #ffffff;
    --transparent-bg: transparent;
    --standard-font-size: 16px;

    --max-width: 1200px;

    --kunst-in-c-rood: #DC2531;
    --kunst-in-c-rood-hover: #581324;
    --kunst-in-c-wit: white;
    --kunst-in-c-zwart: black;
    --kunst-in-c-grijs: #E5E5E5;
    --kunstwerk-titel: 'New York Extra Large', sans-serif;
}

/* ----------------------------------------------------------
---- CARDS
-----------------------------------------------------------*/

.section-cards {
    display: flex;
    flex-direction: column;
    gap: 50px;

    & .title {
        display: flex;
        align-items: center;
        flex-direction: column;

        & h2 {
            text-align: center;
            font-family: var(--kunstwerk-titel);
            color: var(--kunst-in-c-rood);
            font-weight: 600;
        }
        & p {
            max-width: 550px;
            text-align: center;
        }
    }

    & .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        padding: 25px;

        .card {
            background-color: var(--kunst-in-c-wit);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 5px;

            & .image-wrapper {
                height: 200px;

                & .card-image {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    object-fit: cover;
                }
            }

            & .content {
                padding: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 100px;

                h3 {
                    font-family: var(--kunstwerk-titel);
                    font-weight: 500;
                    font-size: 25px;
                    font-style: italic;
                }
            }

            & .card-footer {
                display: flex;
                justify-content: flex-end;

                & .button-wrapper {
                    padding: .7rem 1rem;
                    display: flex;
                    gap: 30px;

                    & .social-link {
                        color: var(--black-font-color);
                        font-size: 14px;
                        text-decoration: none;
                        position: relative;
                    }
                }

                & .btn {
                    background-color: var(--kunst-in-c-rood);
                    padding: .7rem 1rem;
                    border-radius: 2rem;
                    border: 2px solid var(--kunst-in-c-rood);
                    color: var(--white-font-color);
                    font-size: 16px;
                    transition: .2s;
    
                    &:hover,
                    &:focus,
                    &:focus-visible {
                        cursor: pointer;
                        background-color: var(--kunst-in-c-rood-hover);
                        border-color: var(--kunst-in-c-rood-hover);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .card {
        flex: 1 0 100%;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .card {
        flex: 1 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
        width: calc(50% - 40px);
    }
}

@media only screen and (min-width: 769px) {
    .card {
        flex: 1 0 calc(33.33% - 40px);
        max-width: calc(33.33% - 40px);
        width: calc(33.33% - 40px);
    }
}