/* ----------------------------------------------------------
---- Event details
-----------------------------------------------------------*/

html:has([value="darkmode"]:checked) {
    --darkmode: true;

    .section-event-detail {
        &:after {
            color: var(--kunst-in-c-rood);
            opacity: 0.35;
        }
    }
}

.section-event-detail {
    width: 100%;
    position: relative;
    padding-top: 200px;

    & .section-intro {
        width: 100%;
        display: flex;
        color: var(--kunst-in-c-zwart);
        flex-direction: column;
        gap: 30px;

        .col-left {
            flex: 1 0 calc(50% - 15px);

            & h1 {
                line-height: 60px;
                max-width: 500px;

                &::first-letter{
                    color: var(--kunst-in-c-rood);
                }
            }
        }

        .col-right {
            flex: 1 0 calc(50% - 15px);
            display: flex;
            gap: 10px;

            & p {
                background-color: var(--kunst-in-c-rood);
                padding: 5px 10px;
                color: var(--kunst-in-c-wit);
                width: fit-content;
                height: fit-content;
                border-radius: 5px;
                position: relative;

                &:first-of-type {
                    &::before {
                        content: "\f073";
                        font-family: 'Font Awesome 6 Free', Arial, sans-serif;
                        position: relative;
                        right: 0;
                        margin: 0 10px 0 0;
                    }
                }
                
                &:nth-of-type(2) {
                    &::before {
                        content: "\f017";
                        font-family: 'Font Awesome 6 Free', Arial, sans-serif;
                        position: relative;
                        right: 0;
                        margin: 0 10px 0 0;
                    }
                }
             
                &:last-of-type {
                    &::before {
                        content: "\f3c5";
                        font-weight: 600;
                        font-family: 'Font Awesome 6 Free', Arial, sans-serif;
                        position: relative;
                        right: 0;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }


    }

    & .content {
        padding-top: 30px;
        display: flex;
        gap: 40px;

        & .col-left {
            flex: 1 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
            width: calc(50% - 20px);
        }

        & .col-right {
            display: flex;
            flex: 1 0 calc(50% - 20px);
            max-width: calc(50% - 20px);
            width: calc(50% - 20px);
            z-index: 1;

            img {
                width: 100%;
            }
        }
    }
}


@media only screen and (max-width: 425px) {
    .section-event-detail {
        padding-top: 150px;

        &:after {
            font-size: 10em;
            right: 40px;
        }

        & .section-intro {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            color: var(--kunst-in-c-zwart);

            & .col-left {
                h1 {
                    font-size: 2.5em;
                }
            }

            & .col-right {
                flex-direction: column;
                align-items: center;
            }
        }

        & .content {
            flex-direction: column;
            overflow: hidden;

            & .col-left, & .col-right {
                flex: 1 0 100%;
                max-width: 100%;
                width: 100%;
            }
            & .col-right {
                justify-content: center;
            }


        }
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .section-event-detail {
        padding-top: 150px;

        &:after {
            font-size: 16em;
            right: 50px;
        }

        & .section-intro {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-size: 6vw;
            }
        }

        & .content {
            flex-direction: column;
            
            & .col-left, & .col-right {
                flex: 1 0 100%;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .section-event-detail {
        &:after {
            font-size: 13em;
            right: 150px;
        }
    }
}