.red-marker {
    display: none;
}

/* filter */
#filter-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;

    & li {
        margin-right: 40px;

        & p {
            color: rgb(212, 212, 212);
        }

        & button {
            display: flex;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.2em;
            align-items: center;
            gap: .6em;
            background-color: transparent;
            border: none;
        }
    }

    & li:first-of-type {
        min-width: 47vw;
        padding: 0 6vw 0 6vw;
        margin-right: 0;
    }
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    width: 200px;
    height: 300px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1;

    & form {
        display: flex;
        flex-direction: column;
    }
}

/* Show the dropdown menu when the filter button is clicked */
.show {
    display: block;
}





/*Sidescroll text gebied*/
.section {
    & .section_pin {

        & #text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 1em;

            & .collectie-h1 {
                font-family: var(--kunstwerk-titel);
                color: var(--kunst-in-c-rood);
                line-height: 1.2em;
                width: 35vw;
            }

            & .collectie-paragraaf {
                color: var(--black-font-color);
                font-size: 18px;

                font-family: var(--font-family);
                font-weight: 600;
            }

            & .collectie-button {
                font-size: 20px;
                color: var(--black-font-color);
                font-weight: bold;
                text-align: left;
                background-color: transparent;
                border: none;
                display: flex;
                gap: 1.2em;
                cursor: pointer;

                & i {
                    transform: scalex(2) scaley(1.7);
                    transition: .3s;
                }

                &:hover i {
                    transform: translatex(1em) scalex(2) scaley(1.7);
                }
            }
        }
    }
}








.section {
    &.four {
        &.section_to-pin {
            height: 100vh;
            display: flex;
            align-items: center;

            & .section_pin {
                height: 100vh;
                display: flex;
                margin-top: 400px;

                & .content_wrapper {
                    padding: 0vw 6vw 0vw 6vw;
                }

                & .parent_wrapper {
                    display: flex;
                    gap: 2rem;
                    margin-right: 5em;
                    margin-left: 1em;



                    & .image_wrapper {
                        position: relative;
                        height: 65vh;

                        & .image {
                            width: 350px;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                            opacity: .7;
                            transition: .2s;

                            &:hover,
                            :active {
                                opacity: 1;
                            }
                        }


                        /* Overlay op de images */
                        & .dark_overlay {
                            background-color: #00000086;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            padding: 20px;
                            border-radius: 0 0 10px 10px;

                            & button {
                                gap: .6em;
                                font-size: 2em;
                                color: var(--white-font-color);
                                background-color: transparent;
                                border: none;
                                display: flex;
                                align-items: center;

                                & i {
                                    color: var(--white-font-color);
                                    transform: scalex(1) scaley(.85);
                                    transition: .3s;
                                }

                                &:hover i {
                                    transform: translatex(.5em) scalex(1) scaley(.85);
                                }
                            }

                            & p {
                                color: white;
                                margin: 0;
                                font-size: 1em;
                                font-style: italic;
                                font-weight: 200;
                            }
                        }

                    }
                }
            }
        }
    }
}



/* Responsive */

@media only screen and (max-width: 900px) {
    & #text-wrapper {
        align-items: left;
    }

    #filter-wrap {
        position: static;
        justify-content: space-between;
        margin-top: 1em;

        & li:first-of-type {
            padding: 0;
        }

        & li {
            margin: 0;
        }

        & .dropdown li {
            display: flex;
            justify-content: end;
        }

        & li button {
            white-space: nowrap;
        }
    }

    .collectie-h1 {
        width: 100%;
        text-align: left;
        line-height: 1.2em;
    }

    .collectie-paragraaf {
        text-align: left;
        max-width: 100%;
    }

    .collectie-button {
        text-align: left;
    }

    .section_pin {
        flex-direction: column;
        gap: 2em;
    }

    .red-marker {
        display: block;
        height: 2em;
        width: 2em;
        position: absolute;
        left: 0;
        border-radius: 10px;
        background-color: gold;
    }

    .section {
        &.four {
            &.section_to-pin {
                height: auto;

                & .section_pin {
                    height: auto;
                    margin-top: 150px;
                    width: 100%;

                    & .content_wrapper {
                        padding: 1em;
                    }

                    & .parent_wrapper {
                        flex-direction: column;
                        padding: 0 2em;
                        border-left: 5px dashed red;
                        margin-bottom: 2em;

                        & .image_wrapper {
                            width: 100%;
                            height: 10em;
                            display: flex;
                            justify-content: start;

                            &::before {
                                content: "";
                                position: absolute;
                                translate: -50% -100%;
                                top: 50%;

                                left: -2.13em;
                                height: 15px;
                                width: 15px;
                                border-radius: 100%;
                                background-color: red;
                            }



                            & .image {
                                width: 10em;
                                height: 10em;
                            }

                            & .dark_overlay {
                                background-color: transparent;
                                border-bottom: 1px black;
                                position: static;
                                background-color: transparent;
                                height: 10em;
                                width: 50%;

                                & button {
                                    font-size: 2em;
                                    color: black;
                                    padding-top: 1em;

                                    & i {
                                        color: black;
                                    }
                                }

                                & p {
                                    color: black;
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}