.route-card {
  color: white;
  background-image: url(/images/park.png);
  background-size: cover;
  /* width: fit-content; */
  width: 350px;
  height: 200px;
  display: flex;
  padding: 1rem;
  text-decoration: none;
  transition: .5s;
  margin: 1rem;
  border-radius: 1rem;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  transition: .5s;
  
  &:hover {
    color: var(--kunst-in-c-wit);
    & > i {
      background-color: var(--kunst-in-c-rood);
    }
  }

  & > i {
    position: relative;
    z-index: 2;
    text-align: center;
    width: fit-content;
    padding: .5em;
    margin-left: auto;
    aspect-ratio: 1 / 1;
    background-color: black;
    border-radius: 100%;
    border: solid transparent;
    transition: .5s;
  }
  .route-info {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .1rem;


  h3 {
    color: white;
    font-size: 1.5rem;
    display: block;
    font-family: var(--kunstwerk-titel);
    font-style: italic;
    font-weight: 700;
  }

  .route-type {
    display: flex;
    gap: 2rem;

    p {
      color: white;
    }
  }

  }

  .background-gradient {
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.703) 100%);
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 1rem;
  }
}
