@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-york-extra-large");

@import "navigation.css";
@import "footer.css";
@import "agenda.css";
@import "pageheader-main.css";
@import "support-cards.css";
@import "pageheader-detail.css";
@import "detail-cards.css";
@import "help-button.css";
@import "virtual.css";
@import "detail-scroll.css";
@import "mouse.css";
@import "event-detail.css";
@import "breadcrumb.css";
@import "archive.css";
@import "privacy.css";
@import "route-animatie.css";
@import "404.css";



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




:root {
  --font-family: "Open Sans", sans-serif;
  --black-font-color: #000000;
  --white-font-color: #ffffff;
  --standard-font-size: 16px;
  --dark-main: rgba(21, 21, 21);

  --header-color: #f6f6f6;
  --max-width: 1200px;

  --kunst-in-c-rood: #dc2531;
  --kunst-in-c-rood-hover: #622226;
  --kunst-in-c-wit: white;
  --kunst-in-c-zwart: black;
  --kunstwerk-titel: "New York Extra Large", sans-serif;
}

/* ----------------------------------------------------------
---- UTILLITY CLASSES
-----------------------------------------------------------*/

.fixed-width {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-spacing {
  padding-block: 75px;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-200 {
  margin-top: 200px;
}

/* ----------------------------------------------------------
---- GENERAL STYLING 
-----------------------------------------------------------*/

body {
  font-family: var(--font-family);
  transition: 0.5s;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  padding: 20px;
  border-left: 5px solid #000;
  margin: 20px 0;
}

p {
  font-size: var(--standard-font-size);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: red;
  font-size: var(--standard-font-size);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:focus-visible {
    color: blue;
  }
}

/* ----------------------------------------------------------
---- MAIN
-----------------------------------------------------------*/

main {
  position: relative;
  width: 100%;
}

/* ---------------------------------------------------------
--------------- CASTRICUM INTERACTIVE MAP ------------------
-----------------------------------------------------------*/
#castricum-map {
  position: relative;
  stroke-width: var(--kunst-in-c-rood) 2px;
  margin: 0;
  width: 100%;

  .stuk {
    position: absolute;
    fill: rgb(220, 220, 220);
    transition: transform 1s ease-in-out, opacity 0.5s 1s, scale 1s;

    &:hover,
    &:focus {
      fill: var(--kunst-in-c-rood);
      cursor: grab;
    }
  }

  .akersloot-stuk {
    fill: rgb(224 224 224);
  }

  .de-woude-stuk {
    fill: rgb(213 213 213);
    transform-origin: center;

  }

  .limmen-stuk {
    fill: rgb(200 200 200);
    transform-origin: center;


  }

  .castricum-stuk {
    fill: rgb(178 178 178);
    transform-origin: bottom;

  }

  .bakkum-stuk {
    fill: rgb(220, 220, 220);

  }

  .hide {
    transition: opacity 0.5s;
    opacity: 0;
    pointer-events: none;
  }


  .increase {
    transition: transform 1s .2s, scale 1s, opacity 1s 1s;
  }

  .bakkum-stuk.increase {
    transform: translateX(800px);
    fill: rgb(244, 229, 202);
  }

  .limmen-stuk.increase {
    transform: translate(0px, 120px);
    scale: 1.5;
    transform-origin: center;
    fill: #edcaf4;

  }

  .akersloot-stuk.increase {
    transform: translate(-900px, 0px) scale(1.2);
    fill: #caf4ef;
  }

  .de-woude-stuk.increase {
    transform: translate(-1700px, -500px) scale(1.7);
    transform-origin: center;
    fill: #caf4f0;

  }

  .castricum-stuk.increase {
    transform: translate(0px, -200px);
    scale: 1.3;
    transform-origin: bottom;
    fill: #d4f4ca;

  }

}

#bakkum-stuk-id {
  position: relative;
}

.akersloot-visje {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 30px;
  transition: opacity .3s;
  opacity: 0;
  transform: scale(0.15) translate(7200px, 3000px);
}

.akersloot-bootje {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 30px;
  transition: opacity .3s;
  opacity: 0;
  transform: scale(0.15) translate(7200px, 3000px);
}

.windsock {
  fill: #000;
  fill-rule: evenodd;
  stroke-width: 0px;
  transform: scale(0.07);
}

.windsock-svg {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transform: translate(808px, 553px);
  transition: opacity .3s;

}

.de-woude-watersport {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 80px;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  user-select: none;
}

.duinen {
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity .3s;
  transform: translate(12000px, 10500px);
}

.bos {
  fill: #000;
  stroke-width: 0px;
  scale: 0.09;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity .3s;
  transform: translate(8500px, 2500px);
}

.bakkum-tent {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 60px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity .3s;
  transform: translate(12000px, 10500px);
}

.limmen-tulpen-1, .limmen-tulpen-2 {
  fill: #000;
  stroke-width: 0px;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}



html:has(.bakkum-stuk.stuk.increase) .windsock-svg {
  transform: translate(808px, 553px);
  opacity: 1;
  transition: opacity .5s 1s;
}

html:has(.bakkum-stuk.stuk.increase) .bakkum-tent {
  transform: translate(420px, 150px);
  opacity: 1;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  scale: 3;
  transition: opacity .5s 1s;

}

html:has(.limmen-stuk.stuk.increase) .limmen-tulpen-1 {
  fill: #000;
  stroke-width: 0px;
  opacity: 1;
  translate: (100px, 200px);
  transform: scale(0.1) translate(12000px, 3300px);
  transition: opacity .5s 1s;
}
html:has(.limmen-stuk.stuk.increase) .limmen-tulpen-2 {
  fill: #000;
  stroke-width: 0px;
  opacity: 1;
  translate: (100px, 200px);
  transform: scale(0.1) translate(14000px, 8000px);
  transition: opacity .5s 1s;
}

html:has(.bakkum-stuk.stuk.increase) .duinen {
  transform: translate(8700px, 8000px);
  opacity: 1;
  scale: 0.12;
  transition: opacity .5s 1s;

}

html:has(.castricum-stuk.stuk.increase) .duinen {
  transform: translate(5900px, 4500px);
  opacity: 1;
  scale: 0.12;
  transition: opacity .5s 1s;

}

html:has(.castricum-stuk.stuk.increase) .bos {
  transform: translate(8500px, 2500px);
  opacity: 1;
  scale: 0.09;
  transition: opacity .5s 1s;
}

html:has(.akersloot-stuk.stuk.increase) .akersloot-visje {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 30px;
  transform: scale(0.15) translate(7200px, 3000px);
  transition: opacity .5s 1s;
  opacity: 1;
}

html:has(.akersloot-stuk.stuk.increase) .akersloot-bootje {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 51px;
  transform: scale(0.1) translate(12200px, 7000px);
  transition: opacity .5s 1s;
  opacity: 1;
}

html:has(.de-woude-stuk.stuk.increase) .de-woude-watersport {
  fill: none;
  stroke: #000;
  transform: scale(0.09) translate(11000px, 3400px);
  transition: opacity .5s 1s;
  opacity: 1;
}


/* -----------------------------------------------------------
---- END CASTRICUM INTERACTIVE MAP                          
------------------------------------------------------------ */

/* ----------------------------------------------------------
---- MEDIA QUERIES
-----------------------------------------------------------*/

@media (max-width: 1200px) {
  :root {
    --max-width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* @keyframes fillIn {
  0% {
    fill: rgb((224, 224, 224));
  } 50% {
    fill: var(--kunst-in-c-rood);
  } 100% {
    fill: rgb((224, 224, 224));
  }
} */