@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-york-extra-large");

@import "navigation.css";
@import "footer.css";
@import "agenda.css";
@import "pageheader-main.css";
@import "support-cards.css";
@import "pageheader-detail.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --black-font-color: #000000;
  --white-font-color: #ffffff;
  --standard-font-size: 16px;

  --max-width: 1200px;

  --kunst-in-c-rood: #dc2531;
  --kunst-in-c-rood-hover: #622226;
  --kunst-in-c-wit: white;
  --kunst-in-c-zwart: black;
  --kunstwerk-titel: "New York Extra Large", sans-serif;
}

/* ----------------------------------------------------------
---- UTILLITY CLASSES
-----------------------------------------------------------*/

.fixed-width {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.margin-top-150 {
  margin-top: 150px;
}

/* ----------------------------------------------------------
---- GENERAL STYLING 
-----------------------------------------------------------*/

body {
  font-family: var(--font-family);
  transition: 0.5s;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  padding: 20px;
  border-left: 5px solid #000;
  margin: 20px 0;
}

p {
  font-size: var(--standard-font-size);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: red;
  font-size: var(--standard-font-size);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:focus-visible {
    color: blue;
  }
}
/* ----------------------------------------------------------
---- MAIN
-----------------------------------------------------------*/

main {
  position: relative;
  width: 100%;
}

/* ----------------------------------------------------------
---- MEDIA QUERIES
-----------------------------------------------------------*/

@media (max-width: 1200px) {
  :root {
    --max-width: 100%;
  }
}

