@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.cdnfonts.com/css/new-york-extra-large");

@import "navigation.css";

* {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --black-font-color: #000000;
  --white-font-color: #ffffff;
  --standard-font-size: 16px;

  --max-width: 1200px;

  --kunst-in-c-rood: #dc2531;
  --kunst-in-c-wit: white;
  --kunst-in-c-zwart: black;
  --kunstwerk-titel: "New York Extra Large", sans-serif;
}

/* ----------------------------------------------------------
---- UTILLITY CLASSES
-----------------------------------------------------------*/

.fixed-width {
  max-width: var(--max-width);
  width: 100%;
  margin: auto;
}

.margin-top-150 {
  margin-top: 150px;
}

/* ----------------------------------------------------------
---- GENERAL STYLING 
-----------------------------------------------------------*/

body {
  font-family: var(--font-family);
  transition: 0.5s;
}

h1 {
  font-size: 3.5em;
  font-weight: 700;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}
h5 {
  font-size: 1.2em;
  margin-bottom: 20px;
}
h6 {
  font-size: 1em;
}

blockquote {
  font-style: italic;
  font-size: 1.5em;
  padding: 20px;
  border-left: 5px solid #000;
  margin: 20px 0;
}

p {
  font-size: var(--standard-font-size);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: red;
  font-size: var(--standard-font-size);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:focus-visible {
    color: blue;
  }
}

/* ----------------------------------------------------------
---- main
-----------------------------------------------------------*/

main {
  position: relative;
  width: 100%;
}

/* ----------------------------------------------------------
---- FOOTER 
-----------------------------------------------------------*/

@media (min-width: 600px) {
  footer {
    .parent {
      position: relative;
      bottom: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 0px;
      margin: 0 1rem;

      .imgFooter {
        grid-area: 1 / 1 / 2 / 2;
        background-image: url("/images/kunst.png");
        background-size: cover;
        background-position: center;
      }

      .colofonFooter {
        position: relative;
        grid-area: 1 / 2 / 2 / 3;
        background-color: var(--kunst-in-c-rood);
        padding: 2rem;
        color: var(--kunst-in-c-wit);
        height: fit-content;

        & .colofon-contact {
          width: 100%;
          flex-wrap: wrap;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          align-items: center;
          margin-bottom: 20px;

          p {
            transition: 0.5s 0.5s;
          }

          a {
            width: 2.5rem;
            height: 2.5rem;
            border: 2px solid var(--kunst-in-c-wit);
            border-radius: 100%;
            justify-content: center;
            display: flex;
            align-items: center;
          }

          i {
            transition: 0.5s;
          }

          & a:hover,
          a:focus {
            background-color: var(--kunst-in-c-wit);

            & i {
              color: var(--kunst-in-c-rood);
            }

            & + p {
              text-decoration: underline;
            }
          }
        }

        & .colofon-social-media {
          display: flex;
          gap: 1rem;

          & a {
            aspect-ratio: 1/1;
            width: 2.5rem;
            border: 2px solid var(--kunst-in-c-wit);
            border-radius: 50%;
            justify-content: center;
            display: flex;
            align-items: center;
          }

          i {
            transition: 0.5s;
          }

          & a:hover,
          a:focus {
            background-color: var(--kunst-in-c-wit);

            i {
              color: var(--kunst-in-c-rood);
            }
          }
        }

        & ul {
          padding: 0;

          & li {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;

            & a {
              color: white;
              text-decoration: none;
              border: solid var(--kunst-in-c-wit) 2px;
              padding: 0.7rem 1rem;
              border-radius: 10rem;
              width: fit-content;
              transition: 0.2s;
              display: flex;
              align-items: center;

              & i {
                margin-left: 1rem;
                transition: 0.2s;
              }

              /* & svg {
                fill: white;
                margin-left: 1rem;
              } */
            }

            & a:hover,
            & a:focus,
            & a:focus-visible {
              background-color: white;
              color: var(--kunst-in-c-rood);
              border: solid var(--kunst-in-c-rood) 2px;
              margin-right: 1rem;

              & i {
                margin-left: 0.7rem;
              }
            }
          }
        }

        & .colofon-contact,
        & .colofon-social-media {
          & a {
            color: var(--kunst-in-c-wit);
            text-decoration: none;
          }
        }

        & img {
          position: absolute;
          bottom: 0;
          right: 0;
          width: clamp(25%, 30%, 30%);
        }
      }
    }

    .sub-footer {
      display: flex;
      align-items: center;
      gap: 2rem;
      color: var(--kunst-in-c-rood);
      font-weight: 500;
      justify-content: center;

      & h6 {
        font-size: 0.7rem;
        margin: 0;
        font-weight: 400;
      }

      & ul {
        display: flex;
        padding: 0;
        gap: 2rem;

        & li {
          list-style-type: none;
          margin: 0;

          & a {
            text-decoration: none;
            font-size: 0.7rem;
            color: var(--kunst-in-c-rood);
          }
        }
      }
    }
  }
}

/*  Agenda Styling start */
.event_container {
  & .agenda-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  & .event_header {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    justify-content: space-between;

    & h1 {
      font-size: 2em;
      margin-bottom: 20px;
      margin: 0;
    }

    & a {
      margin: 0;
      color: var(--kunst-in-c-rood);
      text-decoration: underline;
    }
  }

  & .view-all {
    display: block;
    text-align: right;
    color: red;
    text-decoration: none;
    margin-bottom: 20px;
  }

  & .events {
    border-top: 1px solid #000;
  }

  & .event {
    border-bottom: 1px solid #000;
    padding: 2rem 0;
    display: flex;

    & p {
      margin: 0;
      color: #666;
    }

    & h2 {
      font-size: 2em;
      margin: 0;
      width: fit-content;
    }
  }

  & .arrow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 4rem;
    border: 2.5px solid var(--kunst-in-c-rood);
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
    color: var(--kunst-in-c-rood);
    font-size: 1.5rem;
    margin-left: auto;
    transition: 0.5s ease-in-out;

    & i {
      transition: 0.5s;
    }
  }

  & .arrow-link:hover,
  & .arrow-link:focus {
    background-color: var(--kunst-in-c-rood);
    /* color: white; */

    & i {
      transform: rotate(-30deg);

      color: white;
      transition: color 0.5s, transform 0.5s 0.5s;
    }
  }
}

@keyframes colorChange {
  from {
    background-color: rgba(255, 255, 255, 0);
  }
  to {
    background-color: white;
  }
}
