<%- include('../../components/head'); %>

  <body>
    <%- include('../../components/header'); %>
      <main>
        <%- include('../../components/pageheader-detail'); %>

      </main>
  </body>

  </html>