<%- include('../components/head') %>
<%- include('../components/header') %>
<main>
  <section class="margin-top-150 privacy-section fixed-width">
  <h1>Privacyverklaring Kunst in C</h1>
  <p><strong>Ingangsdatum:</strong> [DD-MM-JJJJ]</p>
  
  <div>
  <h2>Inleiding</h2>
  <p>Welkom bij Kunst in C! Wij hechten veel waarde aan uw privacy en de bescherming van uw persoonlijke gegevens. Deze
    privacyverklaring legt uit hoe wij informatie verzamelen, gebruiken, opslaan en beschermen die wij van u verkrijgen
    wanneer u onze website bezoekt.</p>
  </div>

  <div>
  <h2>Welke gegevens verzamelen wij?</h2>
  <p>Wij kunnen de volgende gegevens van u verzamelen:</p>
  <ul>
    <li>Persoonlijke identificatiegegevens (zoals naam, e-mailadres, telefoonnummer)</li>
    <li>Demografische informatie (zoals postcode, voorkeuren en interesses)</li>
    <li>Gebruiksgegevens (zoals IP-adres, browsertype, bezoektijdstip en bezochte pagina's)</li>
  </ul>
  </div>

  <div>
  <h2>Hoe gebruiken wij uw gegevens?</h2>
  <p>Wij gebruiken uw gegevens voor de volgende doeleinden:</p>
  <ul>
    <li>Het verbeteren van onze website en dienstverlening</li>
    <li>Het personaliseren van uw ervaring op onze website</li>
    <li>Het versturen van nieuwsbrieven en marketingmateriaal (indien u zich hiervoor heeft aangemeld)</li>
    <li>Het verwerken van bestellingen en betalingen</li>
    <li>Het naleven van wettelijke verplichtingen</li>
  </ul>
</div>


<div>
  <h2>Hoe beveiligen wij uw gegevens?</h2>
  <p>Wij nemen de bescherming van uw gegevens serieus en hebben passende technische en organisatorische maatregelen
    getroffen om uw gegevens te beveiligen tegen verlies, diefstal of ongeautoriseerde toegang.</p>
  </div>
  <div>
  <h2>Delen van uw gegevens</h2>
  <p>Wij delen uw persoonlijke gegevens niet met derden, tenzij dit noodzakelijk is voor het leveren van onze diensten,
    het naleven van wettelijke verplichtingen, of wanneer u hiervoor expliciet toestemming heeft gegeven.</p>
  </div>
  <div>
  <h2>Cookies en trackingtechnologieën</h2>
  <p>Onze website maakt gebruik van cookies en vergelijkbare technologieën om uw ervaring te verbeteren,
    gebruiksstatistieken te verzamelen en gerichte advertenties aan te bieden. U kunt uw cookie-instellingen beheren via
    uw browserinstellingen.</p>
  </div>
  <div>
  <h2>Uw rechten</h2>
  <p>U heeft het recht om inzage te krijgen in uw persoonlijke gegevens, deze te corrigeren, te laten verwijderen of de
    verwerking ervan te beperken. Neem contact met ons op via [e-mailadres] om uw rechten uit te oefenen.</p>
  </div>
  <div>
  <h2>Wijzigingen in deze privacyverklaring</h2>
  <p>Wij kunnen deze privacyverklaring van tijd tot tijd wijzigen. Wij raden u aan om regelmatig deze pagina te bekijken
    om op de hoogte te blijven van eventuele wijzigingen. De laatste update van deze privacyverklaring was op
    [DD-MM-JJJJ].</p>
  </div>
</section>
</main>
<%- include('../components/footer') %>